.wavy-text span {
display: inline-block;
animation: wave 2s ease-in-out infinite;
}

/* Welcome */
.wavy-text span:nth-child(1) { animation-delay: 0s;}
.wavy-text span:nth-child(2) { animation-delay: 0.2s;}
.wavy-text span:nth-child(3) { animation-delay: 0.4s;}
.wavy-text span:nth-child(4) { animation-delay: 0.6s;}
.wavy-text span:nth-child(5) { animation-delay: 0.8s;}
.wavy-text span:nth-child(6) { animation-delay: 1s;}
.wavy-text span:nth-child(7) { animation-delay: 1.2s;}

/* to */
.wavy-text span:nth-child(9) { animation-delay: 1.4s;}
.wavy-text span:nth-child(10) { animation-delay: 1.6s;}

/* Rabbit */
.wavy-text span:nth-child(12) { animation-delay: 1.8s;}
.wavy-text span:nth-child(13) { animation-delay: 2.0s;}
.wavy-text span:nth-child(14) { animation-delay: 2.2s;}
.wavy-text span:nth-child(15) { animation-delay: 2.4s;}
.wavy-text span:nth-child(16) { animation-delay: 2.6s;}
.wavy-text span:nth-child(17) { animation-delay: 2.8s;}

/* Tooth */
.wavy-text span:nth-child(19) { animation-delay: 3.0s;}
.wavy-text span:nth-child(20) { animation-delay: 3.2s;}
.wavy-text span:nth-child(21) { animation-delay: 3.4s;}
.wavy-text span:nth-child(22) { animation-delay: 3.6s;}
.wavy-text span:nth-child(23) { animation-delay: 3.8s;}

@keyframes wave {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
